form {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
  }
 
  input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  span {
      color: red;
  }
 
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
  .submitDiv {
    display: flex;
  }
  .tableDiv {
    margin-top: 5vh;
    width: 50vw;
  }
 
  .addWBSButton {
    margin: 2vh;
  }
  .submitButton {
    background-color: #74c75f;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 2vh;
  }
  .closeButton {
    font-family: sans-serif;
    font-size: 14px;
    margin: 2vh;
  }
  .tdGray{
    opacity: 0.4; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
  }
  .alertClass{
    position: fixed;
    width: 10vw;
    height: 10vh;
    top: 0;
    right: 0;
  }
